<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Opération superpouvoir</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="" sizes="32x32">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="light-blue-text brand-logo">Opération superpouvoir</a>
      <ul class="right hide-on-med-and-down">
      </ul>

      <ul id="nav-mobile" class="side-nav">
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</head>
<body>
  <table class="bordered">
    <thead>
      <th>
        <td>Département</td>
        <td>Circo</td>
        <td>Role</td>
        <td>Nom</td>
        <td>Photo</td>
        <td>Superpouvoir</td>
      </th>
    </thead>
    <tbody>{% for c in candidats %}
      <tr>
        <td>{{ c['depart_nom'] }}</td>
        <td>{{ c['circo'] }}</td>
        <td>{{ c['role'] }}</td>
        <td style="width:20%;">{{ c['nom'] }}</td>
        <td><a href="{{ c['photo'] }}">Photo</a></td>
        <td>
        {% for s in c['sp'] %}
          <a href="{{ s['img'] }}"><img style='width:40%;' src="{{ s['thumb'] }}" /></a>
        {% endfor %}
        </td></tr>
        {% endfor %}
      </tbody>
   </table>

</body>
<footer class="page-footer">
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

</footer>

</html>
