{% extends "basetempl.html" %}
{% block body %}
<div class="row">
  <div class="input-field col s6">
    <input id="search" type="text" onkeyup="search()" class="validate">
    <label for="search">Recherche</label>
  </div>
</div>
<table class="bordered">
  <thead>
    <tr>
      <th style="width:12%;">Département</th>
      <th>Circo</th>
      <th style="width:13%;">Nom</th>
      <th>% 1T</th>
      <th>Visuels</th>
    </tr>
  </thead>
  <tbody id="candidats">{% for c in candidats %}
    <tr>
      <td rowspan=2>{{ c['dep'] }} - {{ c['depart_nom'] }}</td>
      <td rowspan=2>{{ c['circo'] }}</td>
      <td style="width:20%;font-size:18px;"><b>{{ c['nom'] }} ({{ c['parti'] }})</b></td>
      <td style="font-size:18px;"><b>{{ c['pct1T'] }}</b></td>
      <td rowspan=2>
      {% for s in c['sp'] %}
        <a href="{{ s['img'] }}" target="_blank"><img style='width:30%;' src="{{ s['thumb'] }}" /></a>
      {% endfor %}
      </td></tr>
      <tr><td style="font-size:16px; font-style: italic;"><p>{{ c['adv'] }} ({{ c['adv_parti'] }})</p>
        {% if c['argument'] %}<p><small>{{ c['argument'] }} (<a href="{{ c['argument_source'] }}" target="_blank">source</a>)</small></p>{% endif %}
      </td>
        <td>{{ c['adv_pct']}}</td>
      </tr>
      {% endfor %}
    </tbody>
 </table>
{% endblock %}
{% block footer %}
<script>
function search() {
// Declare variables
var input, filter, table, tr, td, i;
input = document.getElementById("search");
filter = input.value.toUpperCase();
table = document.getElementById("candidats");
tr = table.getElementsByTagName("tr");

// Loop through all table rows, and hide those who don't match the search query
var cols = [0,2];
var show;
for (i = 0; i < tr.length; i++) {
  show = false;
  var j = 0;
  while ((j<cols.length) && (show==false))
  {
    td = tr[i].getElementsByTagName("td")[cols[j]];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        show = true;
      }
    }
    j++;
  }
  if (show) {
    tr[i].style.display = "";
  } else {
  tr[i].style.display = "none";
  }
}
}
</script>
{% endblock %}
